name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    permissions:
      contents: write
      id-token: write
    uses: sxzz/workflows/.github/workflows/release.yml@80e37cd3ce8d7134be245dad263f10d2b51e0af1 # v1.3.0
    with:
      publish: true
